*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea/vcs.xml
library/build/generated/assets/
library/build/generated/res/
library/build/generated/source/aidl/
library/build/generated/source/rs/
library/build/intermediates/assets/
library/build/intermediates/bundles/debug/aidl/
library/build/intermediates/bundles/debug/assets/
library/build/intermediates/bundles/debug/jni/
library/build/intermediates/bundles/debug/libs/
library/build/intermediates/bundles/release/aidl/
library/build/intermediates/bundles/release/assets/
library/build/intermediates/bundles/release/jni/
library/build/intermediates/bundles/release/libs/
library/build/intermediates/dependency-cache/
library/build/intermediates/jniLibs/
library/build/intermediates/lint/
library/build/intermediates/manifest/tmp/
library/build/intermediates/rs/
library/build/intermediates/shaders/
library/build/intermediates/transforms/
library/build/tmp/
ptrl/build/generated/assets/
ptrl/build/generated/res/
ptrl/build/generated/source/aidl/
ptrl/build/generated/source/rs/
ptrl/build/intermediates/assets/
ptrl/build/intermediates/bundles/debug/aidl/
ptrl/build/intermediates/bundles/debug/assets/
ptrl/build/intermediates/bundles/debug/jni/
ptrl/build/intermediates/bundles/debug/libs/
ptrl/build/intermediates/bundles/release/aidl/
ptrl/build/intermediates/bundles/release/assets/
ptrl/build/intermediates/bundles/release/jni/
ptrl/build/intermediates/bundles/release/libs/
ptrl/build/intermediates/dependency-cache/
ptrl/build/intermediates/jniLibs/
ptrl/build/intermediates/lint/
ptrl/build/intermediates/manifest/tmp/
ptrl/build/intermediates/rs/
ptrl/build/intermediates/shaders/
ptrl/build/intermediates/transforms/
ptrl/build/tmp/
pullToRefreshViewPager/build/generated/assets/
pullToRefreshViewPager/build/generated/res/
pullToRefreshViewPager/build/generated/source/aidl/
pullToRefreshViewPager/build/generated/source/rs/
pullToRefreshViewPager/build/intermediates/assets/
pullToRefreshViewPager/build/intermediates/bundles/debug/aidl/
pullToRefreshViewPager/build/intermediates/bundles/debug/assets/
pullToRefreshViewPager/build/intermediates/bundles/debug/jni/
pullToRefreshViewPager/build/intermediates/bundles/debug/libs/
pullToRefreshViewPager/build/intermediates/bundles/release/aidl/
pullToRefreshViewPager/build/intermediates/bundles/release/assets/
pullToRefreshViewPager/build/intermediates/bundles/release/jni/
pullToRefreshViewPager/build/intermediates/bundles/release/libs/
pullToRefreshViewPager/build/intermediates/dependency-cache/
pullToRefreshViewPager/build/intermediates/exploded-aar/Thought/library/unspecified/aidl/
pullToRefreshViewPager/build/intermediates/exploded-aar/Thought/library/unspecified/assets/
pullToRefreshViewPager/build/intermediates/exploded-aar/Thought/library/unspecified/jni/
pullToRefreshViewPager/build/intermediates/exploded-aar/Thought/library/unspecified/libs/
pullToRefreshViewPager/build/intermediates/jniLibs/
pullToRefreshViewPager/build/intermediates/lint/
pullToRefreshViewPager/build/intermediates/manifest/tmp/
pullToRefreshViewPager/build/intermediates/rs/
pullToRefreshViewPager/build/intermediates/shaders/
pullToRefreshViewPager/build/intermediates/transforms/
pullToRefreshViewPager/build/tmp/compileDebugJavaWithJavac/
Would rem
ove pullToRefreshViewPager/build/tmp/compileReleaseJavaWithJavac/
pullToRefreshViewPager/build/tmp/expandedArchives/classes.jar_ex62yx2ydvutjvlzidyex2k1b/
pullToRefreshViewPager/build/tmp/expandedArchives/support-v4-18.0.0.jar_6rbkyoj8o8jaj4mf7nzde8bz2/
swipebacklayout/build/generated/assets/
swipebacklayout/build/generated/res/
swipebacklayout/build/generated/source/aidl/
swipebacklayout/build/generated/source/rs/
swipebacklayout/build/intermediates/annotations/
swipebacklayout/build/intermediates/assets/
swipebacklayout/build/intermediates/bundles/debug/aidl/
swipebacklayout/build/intermediates/bundles/debug/assets/
swipebacklayout/build/intermediates/bundles/debug/jni/
swipebacklayout/build/intermediates/bundles/debug/libs/
swipebacklayout/build/intermediates/bundles/release/aidl/
swipebacklayout/build/intermediates/bundles/release/assets/
swipebacklayout/build/intermediates/bundles/release/jni/
swipebacklayout/build/intermediates/bundles/release/libs/
swipebacklayout/build/intermediates/dependency-cache/
swipebacklayout/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/25.0.1/aidl/
swipebacklayout/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/25.0.1/assets/
swipebacklayout/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/25.0.1/jni/
swipebacklayout/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/25.0.1/libs/
swipebacklayout/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/25.0.1/res/
swipebacklayout/build/intermediates/exploded-aar/com.android.support/appcompat-v7/25.0.1/aidl/
swipebacklayout/build/intermediates/exploded-aar/com.android.support/appcompat-v7/25.0.1/assets/
swipebacklayout/build/intermediates/exploded-aar/com.android.support/appcompat-v7/25.0.1/jni/
swipebacklayout/build/intermediates/exploded-aar/com.android.support/appcompat-v7/25.0.1/libs/
swipebacklayout/build/intermediates/exploded-aar/com.android.support/support-compat/25.0.1/assets/
swipebacklayout/build/intermediates/exploded-aar/com.android.support/support-compat/25.0.1/jni/
swipebacklayout/build/intermediates/exploded-aar/com.android.support/support-compat/25.0.1/libs/
swipebacklayout/build/intermediates/exploded-aar/com.android.support/support-compat/25.0.1/res/
swipebacklayout/build/intermediates/exploded-aar/com.android.support/support-core-ui/25.0.1/aidl/
swipebacklayout/build/intermediates/exploded-aar/com.android.support/support-core-ui/25.0.1/assets/
swipebacklayout/build/intermediates/exploded-aar/com.android.support/support-core-ui/25.0.1/jni/
swipebacklayout/build/intermediates/exploded-aar/com.android.support/support-core-ui/25.0.1/libs/
swipebacklayout/build/intermediates/exploded-aar/com.android.support/support-core-ui/25.0.1/res/
swipebacklayout/build/intermediates/exploded-aar/com.android.support/support-core-utils/25.0.1/aidl/
swipebacklayout/build/intermediates/exploded-aar/com.android.support/support-core-utils/25.0.1/assets/
swipebacklayout/build/intermediates/exploded-aar/com.android.support/support-core-utils/25.0.1/jni/
swipebacklayout/build/intermediates/exploded-aar/com.android.support/support-core-utils/25.0.1/libs/
swipebacklayout/build/intermediates/exploded-aar/com.android.support/support-core-utils/25.0.1/res/
swipebacklayout/build/intermediates/exploded-aar/com.android.support/support-fragment/25.0.1/aidl/
swipebacklayout/build/intermediates/exploded-aar/com.android.support/support-fragment/25.0.1/assets/
swipebacklayou
t/build/intermediates/exploded-aar/com.android.support/support-fragment/25.0.1/jni/
swipebacklayout/build/intermediates/exploded-aar/com.android.support/support-fragment/25.0.1/libs/
swipebacklayout/build/intermediates/exploded-aar/com.android.support/support-fragment/25.0.1/res/
swipebacklayout/build/intermediates/exploded-aar/com.android.support/support-media-compat/25.0.1/assets/
swipebacklayout/build/intermediates/exploded-aar/com.android.support/support-media-compat/25.0.1/jni/
swipebacklayout/build/intermediates/exploded-aar/com.android.support/support-media-compat/25.0.1/libs/
swipebacklayout/build/intermediates/exploded-aar/com.android.support/support-media-compat/25.0.1/res/
swipebacklayout/build/intermediates/exploded-aar/com.android.support/support-v4/25.0.1/aidl/
swipebacklayout/build/intermediates/exploded-aar/com.android.support/support-v4/25.0.1/assets/
swipebacklayout/build/intermediates/exploded-aar/com.android.support/support-v4/25.0.1/jni/
swipebacklayout/build/intermediates/exploded-aar/com.android.support/support-v4/25.0.1/libs/
swipebacklayout/build/intermediates/exploded-aar/com.android.support/support-v4/25.0.1/res/
swipebacklayout/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/25.0.1/aidl/
swipebacklayout/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/25.0.1/assets/
swipebacklayout/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/25.0.1/jni/
swipebacklayout/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/25.0.1/libs/
swipebacklayout/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/25.0.1/res/
swipebacklayout/build/intermediates/jniLibs/
swipebacklayout/build/intermediates/lint/
swipebacklayout/build/intermediates/manifest/tmp/
swipebacklayout/build/intermediates/rs/
swipebacklayout/build/intermediates/shaders/
swipebacklayout/build/intermediates/transforms/
swipebacklayout/build/tmp/compileDebugJavaWithJavac/
swipebacklayout/build/tmp/compileReleaseJavaWithJavac/
