<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.june.thought">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.StartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NonTransActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NonTransActivity" />
        <activity
            android:name=".activity.index.ToListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NonTransActivity" />
        <activity
            android:name=".activity.index.ImageTextListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NonTransActivity" />
        <activity
            android:name=".activity.index.ImageTextActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NonTransActivity" />
        <activity
            android:name=".activity.index.ReadingListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NonTransActivity" />
        <activity
            android:name=".activity.index.QuestionListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NonTransActivity" />
        <activity
            android:name=".activity.index.SerializeListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NonTransActivity" />
        <activity
            android:name=".activity.index.MusicListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NonTransActivity" />
        <activity android:name=".activity.detail.ReadingDetailActivity" />
        <activity android:name=".activity.detail.SerializeDetailActivity" />
        <activity android:name=".activity.detail.QuestionDetailActivity"></activity>
    </application>

</manifest>